.app {
  width: 30%;
  margin: 0 auto;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.myButton {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 2.5em;
  margin: .2em .1em;
}
.myInput label {
  display: block;
  font-size: 1.5em;
}
.myInput input {
  font-size: 1.5em;
  border-radius: 10px;
  margin: .3em 0;
}
.myResult {
  background: black;
  color: lime;
  font-size: 2em;
  text-align: right;
  margin: 0 .2em;
  padding-right: .1em;
}
.myHeader {
  display: flex;
}
.myHeader img {
  max-width: 20%;
}
.myFooter {
  background: black;
  color: white;
  padding: .1em;
}